@media screen and (max-width: 767px) {
	.individual-testimonial {
		border-radius: 10px;
		border: solid 1px maroon;
		padding: 3%;
	}
	.rounded {
		display: block;
        height: 200px;
		margin: 0 auto;
    }
	.talk-bubble {
		display: flex;
		align-items: center;
		position: relative;
		max-height: 200px;
	}
	.talktext {
		max-height: 200px;
		overflow: auto;
	}
	.blockquote {
		font-size: 16px;
		font-weight:100;
		margin-bottom: 20px;
	}
	.blockquote-footer {
		font-size: 14px;
		margin-bottom: 0;
	}
}

@media (min-width: 768px) {
	.individual-testimonial {
		display: flex;
		align-items: top;
	}
	.rounded {
		display: block;
		min-width: 160px;
		max-height: 240px;
	}
	.talk-bubble {
		padding: 3% 3%;
		margin: 0 0 0 30px;
		display: flex;
		align-items: center;
		position: relative;
		height: 240px;
		background-color: lightgoldenrodyellow;
	}
	.border{
		border: 8px solid #666;
	}
	.round{
		border-radius: 30px;
		-webkit-border-radius: 30px;
		-moz-border-radius: 30px;
	}
	.tri-right.border.left-top:before {
		content: ' ';
		position: absolute;
		width: 0;
		height: 0;
		left: -40px;
		right: auto;
		top: -8px;
		bottom: auto;
		border: 32px solid;
		border-color: #666 transparent transparent transparent;
	}
	.tri-right.left-top:after {
		content: ' ';
		position: absolute;
		width: 0;
		height: 0;
		left: -20px;
		right: auto;
		top: 0px;
		bottom: auto;
		border: 22px solid;
		border-color: lightgoldenrodyellow transparent transparent transparent;
	}
	.tri-right.border.left-bottom:before {
		content: ' ';
		position: absolute;
		width: 0;
		height: 0;
		left: -40px;
		right: auto;
		top: auto;
		bottom: -8px;
		border: 32px solid;
		border-color: transparent transparent #666 transparent;
	}
	.tri-right.left-bottom:after {
		content: ' ';
		position: absolute;
		width: 0;
		height: 0;
		left: -20px;
		right: auto;
		top: auto;
		bottom: 0px;
		border: 22px solid;
		border-color: transparent transparent lightgoldenrodyellow transparent;
	}
	.talktext {
		max-height: 240px;
		overflow: auto;
	}
	.blockquote {
		font-size: 18px;
		font-weight:100;
		margin-bottom: 20px;
	}
	.blockquote-footer {
		margin-bottom: 0;
	}
}



